* {
    margin: 0;
    padding: 0;
    box-sizing: box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: wheat;
}

a {
    background-color: transparent;
}

/* I want to put the icon and title side by side*/
.headerContainer {
    padding: 10px 10px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
}
.header {
    /* border: 3px solid red; */
    width: 400px;
    /* display: flex; */
    justify-content: space-evenly;
    display: flex;
}

.title {
    /* border: 1px solid blue; */
    align-self: flex-end;
    font-size: 40px;
}

.list {
    display: flex;
    border: 1px solid blue;
    list-style: none;
    background-color: red;
}

.listItems {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    border: 1px solid green;
}

#one {
    background-color: rgb(0, 0, 0);

}